In [ ]:
# conda create --name tpotenv python=3.10
# conda install tpot scikit-learn pandas numpy matplotlib tqdm joblib xgboost lightgbm streamlit
# conda install pandas-profiling streamlit-pandas-profiling
# pip install pycaret

# conda install -n automl ipykernel

In [16]:
import pickle

In [17]:
import pycaret

In [18]:
pycaret.__version__

'3.2.0'

In [19]:
from pycaret.classification import load_model

# 저장된 모델 불러오기
loaded_model = load_model('C:\python\Auto_ML\data\\best_model (7)')

Transformation Pipeline and Model Successfully Loaded

In [20]:
import pandas as pd
from pycaret.classification import predict_model

test_data = pd.read_csv('C:\python\Auto_ML\data\Airline Passenger Satisfaction\\test.csv')

In [21]:
y = test_data["satisfaction"]

In [22]:
X = test_data.drop("satisfaction", axis=1, inplace=True)

In [8]:
y_true = y

In [23]:
X

In [24]:
test_data

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,3,5,5,5,5,2,5,5,50,44.0
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,5,4,4,4,4,3,4,5,0,0.0
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,2,4,1,3,2,2,2,0,0.0
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,4,1,1,1,1,3,1,4,0,6.0
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,2,4,2,4,0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,4,3,2,4,4,5,4,0,0.0
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,4,5,5,5,5,4,0,0.0
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,2,4,3,4,5,4,2,0,0.0
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,4,3,2,5,4,5,4,0,0.0
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,2,1,1,2,1,1,1,1,0,0.0

In [25]:
predictions = predict_model(loaded_model, data=test_data)

In [26]:
predictions

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,prediction_label,prediction_score
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,2,5,5,50,44.0,satisfied,0.9952
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,3,4,5,0,0.0,satisfied,0.9995
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,4,1,3,2,2,2,0,0.0,neutral or dissatisfied,0.9955
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,3,1,4,0,6.0,satisfied,0.9941
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,4,2,4,0,20.0,neutral or dissatisfied,0.8942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,3,2,4,4,5,4,0,0.0,neutral or dissatisfied,0.9927
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,5,5,5,5,4,0,0.0,satisfied,0.9923
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,4,3,4,5,4,2,0,0.0,neutral or dissatisfied,0.9989
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,3,2,5,4,5,4,0,0.0,satisfied,0.9909
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,2,1,1,1,1,0,0.0,neutral or dissatisfied,0.9974

In [27]:
y_pred = predictions["prediction_label"]

In [28]:
from sklearn.metrics import classification_report

In [29]:
# 보고서 출력
print(classification_report(y_true, y_pred))

                         precision    recall  f1-score   support

neutral or dissatisfied       0.96      0.98      0.97     14573
              satisfied       0.97      0.94      0.96     11403

               accuracy                           0.96     25976
              macro avg       0.96      0.96      0.96     25976
           weighted avg       0.96      0.96      0.96     25976

In [29]:
y_true

0      0
1      1
2      0
3      0
4      1
      ..
412    0
413    1
414    0
415    0
416    0
Name: Survived, Length: 417, dtype: int64

In [5]:
data

array(['Pclass', 'Fare'], dtype=object)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tpot
from tpot import TPOTRegressor, TPOTClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

C:\Users\choiw\AppData\Roaming\Python\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
tpot.__version__

'1.0.0'

In [10]:
file = "C:\python\Auto_ML\data\\tested.csv"
df = pd.read_csv(file)

In [11]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [13]:
df.drop("Cabin", axis=1, inplace=True)

In [15]:
df.drop("Age", axis=1, inplace=True)

In [17]:
df.dropna(inplace=True)

In [19]:
df.drop("Name", axis=1, inplace=True)

In [21]:
df.drop("PassengerId", axis=1, inplace=True)

In [23]:
df.drop("SibSp", axis=1, inplace=True)

In [25]:
df.drop("Parch", axis=1, inplace=True)

In [27]:
df.drop("Ticket", axis=1, inplace=True)

In [29]:
df.drop("Embarked", axis=1, inplace=True)

In [30]:
df.head()

   Survived  Pclass     Sex     Fare
0         0       3    male   7.8292
1         1       3  female   7.0000
2         0       2    male   9.6875
3         0       3    male   8.6625
4         1       3  female  12.2875

In [31]:
df.to_csv("C:\python\Auto_ML\data\\test_new.csv", index=False)

In [3]:
file = "C:\python\Auto_ML\data\\test_new.csv"
df_new = pd.read_csv(file)

In [4]:
df_new.head()

   Survived  Pclass     Sex     Fare
0         0       3    male   7.8292
1         1       3  female   7.0000
2         0       2    male   9.6875
3         0       3    male   8.6625
4         1       3  female  12.2875

In [5]:
tpot.__version__

'1.0.0'

In [6]:
X = df_new.drop('Survived', axis=1)
y = df_new['Survived']

In [7]:
X

     Pclass     Sex      Fare
0         3    male    7.8292
1         3  female    7.0000
2         2    male    9.6875
3         3    male    8.6625
4         3  female   12.2875
..      ...     ...       ...
412       3    male    8.0500
413       1  female  108.9000
414       3    male    7.2500
415       3    male    8.0500
416       3    male   22.3583

[417 rows x 3 columns]

In [8]:
y

0      0
1      1
2      0
3      0
4      1
      ..
412    0
413    1
414    0
415    0
416    0
Name: Survived, Length: 417, dtype: int64

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, random_state=42, stratify=y
        )

In [14]:
pipeline_optimizer = tpot.TPOTClassifier()

In [12]:
pipeline_optimizer = TPOTClassifier(generations=5,
    population_size=20,
    cv=5,
    random_state=42,
    verbosity=2)

In [15]:
pipeline_optimizer.fit(X_train, y_train)

c:\ProgramData\anaconda3\envs\automl\lib\site-packages\distributed\node.py:187: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 62422 instead
  warnings.warn(
Generation: : 0it [03:08, ?it/s]

Exception: No individuals could be evaluated in the initial population. This may indicate a bug in the configuration, included models, or objective functions. Set verbose>=4 to see the errors that caused individuals to fail.