In [ ]:
# conda create --name tpotenv python=3.10
# conda install tpot scikit-learn pandas numpy matplotlib tqdm joblib xgboost lightgbm streamlit
# conda install pandas-profiling streamlit-pandas-profiling
# pip install pycaret

# conda install -n automl ipykernel

In [1]:
import pickle

In [2]:
import pycaret

In [3]:
pycaret.__version__

'3.3.2'

In [7]:
from pycaret.classification import load_model

# 저장된 모델 불러오기
loaded_model = load_model('C:\python\Auto_ML\data\\best_model3')

Transformation Pipeline and Model Successfully Loaded

In [17]:
import pandas as pd
from pycaret.classification import predict_model

test_data = pd.read_csv('C:\python\Auto_ML\data\\test_new.csv')

In [19]:
y = test_data["Survived"]

In [20]:
X = test_data.drop("Survived", axis=1, inplace=True)

In [26]:
y_true = y

In [22]:
X

In [14]:
test_data

     Pclass     Sex      Fare
0         3    male    7.8292
1         3  female    7.0000
2         2    male    9.6875
3         3    male    8.6625
4         3  female   12.2875
..      ...     ...       ...
412       3    male    8.0500
413       1  female  108.9000
414       3    male    7.2500
415       3    male    8.0500
416       3    male   22.3583

[417 rows x 3 columns]

In [23]:
predictions = predict_model(loaded_model, data=test_data)

In [24]:
predictions

     Pclass     Sex        Fare  prediction_label  prediction_score
0         3    male    7.829200                 0            0.9904
1         3  female    7.000000                 1            0.9786
2         2    male    9.687500                 0            0.9898
3         3    male    8.662500                 0            0.9904
4         3  female   12.287500                 1            0.9789
..      ...     ...         ...               ...               ...
412       3    male    8.050000                 0            0.9904
413       1  female  108.900002                 1            0.9855
414       3    male    7.250000                 0            0.9904
415       3    male    8.050000                 0            0.9904
416       3    male   22.358299                 0            0.9900

[417 rows x 5 columns]

In [27]:
y_pred = predictions["prediction_label"]

In [25]:
from sklearn.metrics import classification_report

In [28]:
# 보고서 출력
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       265
           1       1.00      1.00      1.00       152

    accuracy                           1.00       417
   macro avg       1.00      1.00      1.00       417
weighted avg       1.00      1.00      1.00       417

In [29]:
y_true

0      0
1      1
2      0
3      0
4      1
      ..
412    0
413    1
414    0
415    0
416    0
Name: Survived, Length: 417, dtype: int64

In [5]:
data

array(['Pclass', 'Fare'], dtype=object)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tpot
from tpot import TPOTRegressor, TPOTClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

C:\Users\choiw\AppData\Roaming\Python\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
tpot.__version__

'1.0.0'

In [10]:
file = "C:\python\Auto_ML\data\\tested.csv"
df = pd.read_csv(file)

In [11]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [13]:
df.drop("Cabin", axis=1, inplace=True)

In [15]:
df.drop("Age", axis=1, inplace=True)

In [17]:
df.dropna(inplace=True)

In [19]:
df.drop("Name", axis=1, inplace=True)

In [21]:
df.drop("PassengerId", axis=1, inplace=True)

In [23]:
df.drop("SibSp", axis=1, inplace=True)

In [25]:
df.drop("Parch", axis=1, inplace=True)

In [27]:
df.drop("Ticket", axis=1, inplace=True)

In [29]:
df.drop("Embarked", axis=1, inplace=True)

In [30]:
df.head()

   Survived  Pclass     Sex     Fare
0         0       3    male   7.8292
1         1       3  female   7.0000
2         0       2    male   9.6875
3         0       3    male   8.6625
4         1       3  female  12.2875

In [31]:
df.to_csv("C:\python\Auto_ML\data\\test_new.csv", index=False)

In [3]:
file = "C:\python\Auto_ML\data\\test_new.csv"
df_new = pd.read_csv(file)

In [4]:
df_new.head()

   Survived  Pclass     Sex     Fare
0         0       3    male   7.8292
1         1       3  female   7.0000
2         0       2    male   9.6875
3         0       3    male   8.6625
4         1       3  female  12.2875

In [5]:
tpot.__version__

'1.0.0'

In [6]:
X = df_new.drop('Survived', axis=1)
y = df_new['Survived']

In [7]:
X

     Pclass     Sex      Fare
0         3    male    7.8292
1         3  female    7.0000
2         2    male    9.6875
3         3    male    8.6625
4         3  female   12.2875
..      ...     ...       ...
412       3    male    8.0500
413       1  female  108.9000
414       3    male    7.2500
415       3    male    8.0500
416       3    male   22.3583

[417 rows x 3 columns]

In [8]:
y

0      0
1      1
2      0
3      0
4      1
      ..
412    0
413    1
414    0
415    0
416    0
Name: Survived, Length: 417, dtype: int64

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, random_state=42, stratify=y
        )

In [14]:
pipeline_optimizer = tpot.TPOTClassifier()

In [12]:
pipeline_optimizer = TPOTClassifier(generations=5,
    population_size=20,
    cv=5,
    random_state=42,
    verbosity=2)

In [15]:
pipeline_optimizer.fit(X_train, y_train)

c:\ProgramData\anaconda3\envs\automl\lib\site-packages\distributed\node.py:187: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 62422 instead
  warnings.warn(
Generation: : 0it [03:08, ?it/s]

Exception: No individuals could be evaluated in the initial population. This may indicate a bug in the configuration, included models, or objective functions. Set verbose>=4 to see the errors that caused individuals to fail.